.app {

}

.header {
    height: 120px;
    background-image: linear-gradient(to bottom,rgba(246, 63, 46,1), rgb(255, 101, 51,1));
}

.header__navbar {
    display: flex;
    justify-content: space-between;

}

.header__navbar-list {
    padding: 0;
    list-style: none;
}

.header__navbar-item {
    margin: 0 10px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--has-notify:hover .header__notify,
.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 350;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item:hover .header__navbar-item-link,
.header__navbar-icon-link:hover {
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}

.header__navbar-item--strong{
    font-weight: 400;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);

    width: 1.2px;
    height: 13px;
    background-color: #f96c5c;
}


.header__navbar-icon-link{
    text-decoration: none;
    color: var(--white-color);
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-hover {
    color: var(--white-color);
    cursor: text;
}



/* Header QR code */

.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    box-shadow: 0 0 2px #aaa;
    display: none;
    animation: fadeIn ease 0.3s;
}

.header__qr::before {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    top: -10px;
    left: 0;
    display: block;
}

.header__qr-img{
    width: 100%;
}

.header__qr-apps {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1){
    margin-left: 11px;
}

.header__qr-link:nth-child(2){
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;
}



/* Header notification */

.header__notify {
    position: absolute;
    top: 120%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);

    display: none;
    transform-origin: calc(100% - 20px) top;
    animation: growIn ease-in 0.3s;
    -webkit-animation: growIn ease-in 0.3s;
    will-change: opacity, transform;
}

.header__notify::before {
    content: "";
    display: block;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;

    position: absolute;
    top: -30px;
    right: 4px;
}

.header__notify::after {
    content: "";
    display: block;
    width: 100px;
    height: 30px;

    position: absolute;
    top: -10px;
    right: 0;
}


.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    cursor: default;
    user-select: none;
}

.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
    background-color: rgba(246, 63, 46, 0.07);
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed{
    background-color: var(--white-color);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0;
    margin-bottom: 8px;
    font-weight: 400;
}

.header__notify-description {
    font-size: 1.2rem;
    color:#666;
    line-height: 1.2rem;
    margin: 0;
}

.header__notify-footer {
    text-align: center;
}

.header__notify-footer-btn {
    display: block;
    text-decoration: none;

    font-weight: 400;
    color: var(--text-color);
    padding: 12px 32px;
}

.header__notify-footer-btn:hover{
    text-decoration: underline;
}



/* Authen form */
.auth-form {
    width: 500px;
}

.auth-form__container {
    padding: 12px 32px;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 24px;
    margin-bottom: 42px;
}

.auth-form__heading {
    margin: 0;
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
}

.auth-form__form {

}

.auth-form__group {

}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
}
